{% extends base_template %}
{% load i18n %}

{% load xadmin_tags %}

{% block nav_title %}设置话术{% endblock %}

{% block content %}

<div class="form-group" id="div_id_function_setup">
    <label class="control-label" for=""></label>
    <div class="controls ">
        <form action="{% url 'set_function' %}" method="post">
            {% for n in queryset %}
            <input type="hidden" name="userid" value="{{n}}">
            {% endfor %}
            {% csrf_token %}
            {% for i in list %}
            <input type="checkbox" name="function" value="{{i.id}}">{{i.title}}
            <br>
            <br>
            {% endfor %}
            <br>
            <button>提交</button>
        </form>
    </div>

</div>


{% endblock %}